In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import time
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Scrape Bed Bath Reviews

Cities=[]
Date = []
Reviews = []
StarRating = []
ratings = [1,2,3,4,5]

for r in ratings:
    print(f'scraping {r}star ratings')

    for i in range(20):
        if i==0:
            next
        else:
            #declare URL to visit
            url = f"https://www.consumeraffairs.com/retail/bed_bath.html?page={i}#sort=recent&filter={r}"
            browser.visit(url)

            #wait
            time.sleep(0.55)

            #grab the html code of the page
            html = browser.html

            #parse the html page into a beautiful soup object
            soup = BeautifulSoup(html, 'html.parser')

            #get the list of all reviews
            c = soup.find_all('div', class_="js-rvw")
            #print(len(c))

            if len(c)==0:
                print(f'done:{len(Date)} total reviews scraped')
                break
            else:
                print(f'scraping {len(c)} reviews')
                for i in range(len(c)):
                    # add the dates of the reviews to the dates list
                    try:
                        Date.append(c[i].find_all('div',class_="rvw-bd")[0].find('span').text)
                    except:
                        Date.append('No_DATE_FOUND')
                    try:
                        Cities.append(c[i].find_all('strong')[0].text)
                    except:
                        Cities.append('No_CITY_FOUND')
                    try: 
                        Reviews.append(c[i].find_all('p')[1].text)
                    except:
                        Reviews.append('No_REVIEW_FOUND')
                    StarRating.append(r)

scraping 1star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 8 reviews
done:378 total reviews scraped
scraping 2star ratings
scraping 10 reviews
scraping 29 reviews
done:417 total reviews scraped
scraping 3star ratings
scraping 6 reviews
done:423 total reviews scraped
scraping 4star ratings
scraping 7 reviews
done:430 total reviews scraped
scraping 5star ratings
scraping 10 reviews
scraping 21 reviews
done:461 total reviews scraped

In [171]:
#Make Dataframe
df_all= pd.DataFrame({'Date':Date,'City':Cities,'Review':Reviews,'Stars':StarRating})

#parse out the date
df_all[['delete','Dt']] = df_all['Date'].str.split(":",n=1,expand=True)

#Separate Reviewer from City and State
df_all[['reviewer','City/St']]=df_all['City'].str.split(" of ", n=1,expand=True)

#drop unnecessary columns
df_all.drop(columns =['Date','City','delete','reviewer'], inplace=True)

#Separate City and State
df_all[['City','State']]=df_all['City/St'].str.split(",",n=1,expand=True)

#Drop any reviews with null values
df_all.dropna(inplace=True)

#save csv
# df_all.to_csv('BBRev2.csv')

,Date,City,Review,Stars
0,"Original review: Jan. 8, 2022","Edward of Newton, MA",I I bought two pillowcase bed sham from Bed Ba...,1
1,"Original review: Jan. 4, 2022","S of Penn Valley, CA",They cancelled my Christmas order so my gift n...,1
2,"Original review: Dec. 28, 2021","Joel of Fruita, CO",When I placed a order for a electric blanket o...,1
3,"Original review: Dec. 20, 2021","Carolyn of Larkspur, CA",Two orders did not arrive…although their custo...,1
4,"Original review: Dec. 7, 2021","JLynn of North Hollywood, CA",WORST customer service ever!! Can't reach anyo...,1
...,...,...,...,...
453,"Original review: Jan. 20, 2015","LaTricia of Bay Minette,, AL","I have always had good success with Bed, Bath,...",5
454,"Original review: Dec. 9, 2014","Ruth of Ballwin, MO",I shop here often and every time the staff is ...,5
455,"Original review: Sept. 12, 2014","Melissa of Toronto, ON",I don't normally review great experiences (I k...,5
456,"Original review: July 8, 2014","Josh of Salisbury, MD","While they can be a little pricey, they expect...",5
457,"Original review: March 25, 2014","Cary of Brooklyn, NY",The only thing I don’t like is their clearance...,5

In [204]:
#Scrape Target Reviews

Cities=[]
Date = []
Reviews = []
StarRating = []
ratings = [1,2,3,4,5]

for r in ratings:
    print(f'scraping {r}star ratings')

    for i in range(20):
        if i==0:
            next
        else:
            #declare URL to visit
            url = f"https://www.consumeraffairs.com/retail/target_stores.htm?page={i}#sort=top_reviews&filter={r}"
            browser.visit(url)

            #wait
            time.sleep(0.55)

            #grab the html code of the page
            html = browser.html

            #parse the html page into a beautiful soup object
            soup = BeautifulSoup(html, 'html.parser')

            #get the list of all reviews
            c = soup.find_all('div', class_="js-rvw")
            #print(len(c))

            if len(c)==0:
                print(f'done:{len(Date)} total reviews scraped')
                break
            else:
                print(f'scraping {len(c)} reviews')
                for i in range(len(c)):
                    # add the dates of the reviews to the dates list
                    try:
                        Date.append(c[i].find_all('div',class_="rvw-bd")[0].find('span').text)
                    except:
                        Date.append('No_DATE_FOUND')
                    try:
                        Cities.append(c[i].find_all('strong')[0].text)
                    except:
                        Cities.append('No_CITY_FOUND')
                    try: 
                        Reviews.append(c[i].find_all('p')[1].text)
                    except:
                        Reviews.append('No_REVIEW_FOUND')
                    StarRating.append(r)

scraping 1star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 2star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 29 reviews
done:679 total reviews scraped
scraping 3star ratings
scraping 10 reviews
scraping 30 reviews
scraping 23 reviews
done:742 total reviews scraped
scraping 4star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 24 reviews
done:836 total reviews scraped
scraping 5star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
done:1056 total reviews scraped

In [206]:
#Make Dataframe
df_target_all= pd.DataFrame({'Date':Date,'City':Cities,'Review':Reviews,'Stars':StarRating})

#parse out the date
df_target_all[['delete','Dt']] = df_target_all['Date'].str.split(":",n=1,expand=True)

#Separate Reviewer from City and State
df_target_all[['reviewer','City/St']]=df_target_all['City'].str.split(" of ", n=1,expand=True)

#drop unnecessary columns
df_target_all.drop(columns =['Date','City','delete','reviewer'], inplace=True)

#Separate City and State
df_target_all[['City','State']]=df_target_all['City/St'].str.split(",",n=1,expand=True)

#Drop any reviews with null values
df_target_all.dropna(inplace=True)

#save reviews to csv file
# df_target_all.to_csv('targetRev.csv')

,Review,Stars,Dt,City/St,City,State
0,"I bought online and had delivered, same day a ...",1,"Jan. 23, 2022","Derby, KS",Derby,KS
1,Target refused to explain why my gift card not...,1,"Jan. 6, 2022","Los Altos, CA",Los Altos,CA
2,I decided to try shopping Target online becaus...,1,"Jan. 6, 2022","Paris, TX",Paris,TX
3,TARGET lost the card and trying to get a repla...,1,"Dec. 30, 2021","Macomb, MI",Macomb,MI
4,Complaint against Target today 12/27/2021. I’m...,1,"Dec. 28, 2021","Riverview, FL",Riverview,FL
...,...,...,...,...,...,...
1051,Nearest store only a mile away. I don’t know i...,5,"Feb. 5, 2020","Tucson, AZ",Tucson,AZ
1052,I go to Target to buy extra Tidy Cat (35-lb bu...,5,"Jan. 30, 2020","Lindenhurst, NY",Lindenhurst,NY
1053,Do NOT ever order from target.com. They steal ...,5,"Jan. 23, 2020","Yelm, WA",Yelm,WA
1054,The product listed did not provide in the writ...,5,"Jan. 19, 2020","Mineral Bluff, GA",Mineral Bluff,GA
1055,"I ordered a lot of items during the holidays, ...",5,"Jan. 12, 2020","Virginia Beach, VA",Virginia Beach,VA

In [211]:
#Scrape Walmart Reviews 1,2,3 Star

Cities=[]
Date = []
Reviews = []
StarRating = []
ratings = [1,2,3]

for r in ratings:
    print(f'scraping {r}star ratings')

    for i in range(20):
        if i==0:
            next
        else:
            #declare URL to visit
            url = f"https://www.consumeraffairs.com/retail/walmart.htm?page={i}#sort=top_reviews&filter={r}"
            browser.visit(url)

            #wait
            time.sleep(0.55)

            #grab the html code of the page
            html = browser.html

            #parse the html page into a beautiful soup object
            soup = BeautifulSoup(html, 'html.parser')

            #get the list of all reviews
            c = soup.find_all('div', class_="js-rvw")
            #print(len(c))

            if len(c)==0:
                print(f'done:{len(Date)} total reviews scraped')
                break
            else:
                print(f'scraping {len(c)} reviews')
                for i in range(len(c)):
                    # add the dates of the reviews to the dates list
                    try:
                        Date.append(c[i].find_all('div',class_="rvw-bd")[0].find('span').text)
                    except:
                        Date.append('No_DATE_FOUND')
                    try:
                        Cities.append(c[i].find_all('strong')[0].text)
                    except:
                        Cities.append('No_CITY_FOUND')
                    try: 
                        Reviews.append(c[i].find_all('p')[1].text)
                    except:
                        Reviews.append('No_REVIEW_FOUND')
                    StarRating.append(r)

scraping 1star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 2star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 3star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
done:1470 total reviews scraped
scraping 4star ratings
done:1470 total reviews scraped
scraping 5star ratings
done:1470 total reviews scraped

In [215]:
#Scrape Walmart Reviews 4,5 Star
ratings = [4,5]

for r in ratings:
    print(f'scraping {r}star ratings')

    for i in range(20):
        if i==0:
            next
        else:
            #declare URL to visit
            url = f"https://www.consumeraffairs.com/retail/walmart.htm?page={i}#sort=top_reviews&filter={r}"
            browser.visit(url)

            #wait
            time.sleep(0.55)

            #grab the html code of the page
            html = browser.html

            #parse the html page into a beautiful soup object
            soup = BeautifulSoup(html, 'html.parser')

            #get the list of all reviews
            c = soup.find_all('div', class_="js-rvw")
            #print(len(c))

            if len(c)==0:
                print(f'done:{len(Date)} total reviews scraped')
                break
            else:
                print(f'scraping {len(c)} reviews')
                for i in range(len(c)):
                    # add the dates of the reviews to the dates list
                    try:
                        Date.append(c[i].find_all('div',class_="rvw-bd")[0].find('span').text)
                    except:
                        Date.append('No_DATE_FOUND')
                    try:
                        Cities.append(c[i].find_all('strong')[0].text)
                    except:
                        Cities.append('No_CITY_FOUND')
                    try: 
                        Reviews.append(c[i].find_all('p')[1].text)
                    except:
                        Reviews.append('No_REVIEW_FOUND')
                    StarRating.append(r)

scraping 4star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 29 reviews
done:1869 total reviews scraped
scraping 5star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 10 reviews
done:2249 total reviews scraped

In [217]:
#Make Dataframe
df_walmart_all= pd.DataFrame({'Date':Date,'City':Cities,'Review':Reviews,'Stars':StarRating})

#parse out the date
df_walmart_all[['delete','Dt']] = df_walmart_all['Date'].str.split(":",n=1,expand=True)

#Separate Reviewer from City and State
df_walmart_all[['reviewer','City/St']]=df_walmart_all['City'].str.split(" of ", n=1,expand=True)

#drop unnecessary columns
df_walmart_all.drop(columns =['Date','City','delete','reviewer'], inplace=True)

#Separate City and State
df_walmart_all[['City','State']]=df_walmart_all['City/St'].str.split(",",n=1,expand=True)

#Drop any reviews with null values
df_walmart_all.dropna(inplace=True)

#Add retailer column
df_walmart_all['Retailer']='Walmart'

#save to csv file
# df_walmart_all.to_csv('WalmartRev.csv')

,Review,Stars,Dt,City/St,City,State
0,I have a tent that I called about the stitchin...,1,"Jan. 31, 2022","West Chester, OH",West Chester,OH
1,I physically returned my items to the Walmart ...,1,"Jan. 22, 2022","Orchard Park, NY",Orchard Park,NY
2,I called customer service many times telling t...,1,"Jan. 18, 2022","Moberly, MO",Moberly,MO
3,I went to the one on 5401 Fairington Rd Lithon...,1,"Jan. 15, 2022","Lithonia, GA",Lithonia,GA
4,"Ordered an Item, recieved it broken, tried to ...",1,"Jan. 12, 2022","Saint Paul Park, MN",Saint Paul Park,MN
...,...,...,...,...,...,...
2244,I wanted to take the time and tell everyone in...,5,"Aug. 27, 2011","Somewhere, TX",Somewhere,TX
2245,I have shopped at North Salisbury Store many t...,5,"Aug. 22, 2011","Hebron, MD",Hebron,MD
2246,"After my visit in San Juan, PR from 7/16 to 7/...",5,"Aug. 19, 2011","North Wales, PA",North Wales,PA
2247,Maybe the reason for the glut of these hi-def ...,5,"Nov. 4, 2010","Beecher, IL",Beecher,IL
2248,I've been hearing many stories about their ele...,5,"Aug. 5, 2010","Beecher, IL",Beecher,IL

In [222]:
#scrape Williams Sonoma pages

Cities=[]
Date = []
Reviews = []
StarRating = []
ratings = [1,2,3,4,5]

for r in ratings:
    print(f'scraping {r}star ratings')

    for i in range(20):
        if i==0:
            next
        else:
            #declare URL to visit
            url = f"https://www.consumeraffairs.com/homeowners/williams_sonoma.html?page={i}#sort=recent&filter={r}"
            browser.visit(url)

            #wait
            time.sleep(0.55)

            #grab the html code of the page
            html = browser.html

            #parse the html page into a beautiful soup object
            soup = BeautifulSoup(html, 'html.parser')

            #get the list of all reviews
            c = soup.find_all('div', class_="js-rvw")
            #print(len(c))

            if len(c)==0:
                print(f'done:{len(Date)} total reviews scraped')
                break
            else:
                print(f'scraping {len(c)} reviews')
                for i in range(len(c)):
                    # add the dates of the reviews to the dates list
                    try:
                        Date.append(c[i].find_all('div',class_="rvw-bd")[0].find('span').text)
                    except:
                        Date.append('No_DATE_FOUND')
                    try:
                        Cities.append(c[i].find_all('strong')[0].text)
                    except:
                        Cities.append('No_CITY_FOUND')
                    try: 
                        Reviews.append(c[i].find_all('p')[1].text)
                    except:
                        Reviews.append('No_REVIEW_FOUND')
                    StarRating.append(r)

scraping 1star ratings
scraping 10 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 30 reviews
scraping 11 reviews
done:441 total reviews scraped
scraping 2star ratings
scraping 10 reviews
scraping 6 reviews
done:457 total reviews scraped
scraping 3star ratings
scraping 1 reviews
done:458 total reviews scraped
scraping 4star ratings
scraping 7 reviews
done:465 total reviews scraped
scraping 5star ratings
scraping 10 reviews
done:475 total reviews scraped

In [224]:
#Make Dataframe
df_williams_all= pd.DataFrame({'Date':Date,'City':Cities,'Review':Reviews,'Stars':StarRating})

#parse out the date
df_williams_all[['delete','Dt']] = df_williams_all['Date'].str.split(":",n=1,expand=True)

#Separate Reviewer from City and State
df_williams_all[['reviewer','City/St']]=df_williams_all['City'].str.split(" of ", n=1,expand=True)

#drop unnecessary columns
df_williams_all.drop(columns =['Date','City','delete','reviewer'], inplace=True)

#Separate City and State
df_williams_all[['City','State']]=df_williams_all['City/St'].str.split(",",n=1,expand=True)

#Drop any reviews with null values
df_williams_all.dropna(inplace=True)

# add retailer column
df_williams_all['Retailer']='Williams Sonoma'

# save as csv
# df_williams_all.to_csv('WillamsSonomaRev.csv')

,Review,Stars,Dt,City/St,City,State,Retailer
3,The store does NOT put up notices nor do the s...,1,"Jan. 4, 2022","Oakland, CA",Oakland,CA,Williams Sonoma
4,I have loved this store for years and years. O...,1,"Dec. 30, 2021","Parsons, KS",Parsons,KS,Williams Sonoma
5,I purchased 2 mirrors in November 2021 and 4 l...,1,"Dec. 27, 2021","Mississauga, Other",Mississauga,Other,Williams Sonoma
6,Nothing I have ordered has ever been satisfact...,1,"Dec. 22, 2021","Vernon Hills, IL",Vernon Hills,IL,Williams Sonoma
7,Nowhere in the store do they provide notice th...,1,"Dec. 22, 2021","Richardson, TX",Richardson,TX,Williams Sonoma
...,...,...,...,...,...,...,...
470,Excellent service. Great customer service. Fas...,5,"Oct. 11, 2019","Scottsdale, AZ",Scottsdale,AZ,Williams Sonoma
471,I love the quality of their products at Willia...,5,"Oct. 10, 2019","Bronx, NY",Bronx,NY,Williams Sonoma
472,Went from a 4 burner Char-Broil to this unit. ...,5,"June 19, 2019","Murphys, CA",Murphys,CA,Williams Sonoma
473,Deshawn ** (driver) was ahead of schedule and ...,5,"Dec. 22, 2017","Lynn Haven, FL",Lynn Haven,FL,Williams Sonoma
474,Purchased Magimix Robot-Coupe toaster. I love ...,5,"Jan. 22, 2016","Stoughton, MA",Stoughton,MA,Williams Sonoma

In [12]:
#read in CSV
df_walmart = pd.read_csv('WalmartRev.csv')

#Strip spaces in front of the date
df_walmart['Dt']=df_walmart['Dt'].str.lstrip()

#expand on the first space
df_walmart[['month','day_year']]=df_walmart['Dt'].str.split(" ",n=1,expand=True)

#Replace Months with corresponding numbers
df_walmart['month'].replace({'Jan.':1, 'Dec.':12, 'Nov.':11, 'Oct.':10, 'Sept.':9, 'Aug.':8, 'July':7, 'June':6,
       'May':5, 'April':4, 'March':3, 'Feb.':2}, inplace=True)

#split out day and year
df_walmart[['day','year']]=df_walmart['day_year'].str.split(",",n=1,expand=True)

#stitch date back together
df_walmart['Date']=pd.to_datetime(df_walmart[["year","month","day"]])

#limit df to dates since March 2020
final_walmart_df = df_walmart[df_walmart['Date']>='2020-03-01']

#delete unnecessary columns
final_walmart_df.drop(columns = ['Unnamed: 0','Dt','month','day_year','day','year'], inplace = True)

final_walmart_df

C:\Users\walsh\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Review,Stars,City/St,City,State,Retailer,Date
0,I have a tent that I called about the stitchin...,1,"West Chester, OH",West Chester,OH,Walmart,2022-01-31
1,I physically returned my items to the Walmart ...,1,"Orchard Park, NY",Orchard Park,NY,Walmart,2022-01-22
2,I called customer service many times telling t...,1,"Moberly, MO",Moberly,MO,Walmart,2022-01-18
3,I went to the one on 5401 Fairington Rd Lithon...,1,"Lithonia, GA",Lithonia,GA,Walmart,2022-01-15
4,"Ordered an Item, recieved it broken, tried to ...",1,"Saint Paul Park, MN",Saint Paul Park,MN,Walmart,2022-01-12
...,...,...,...,...,...,...,...
1900,"Great selection, great prices and awesome cont...",5,"Buda, Texas",Buda,Texas,Walmart,2020-11-19
1901,I built my house in 2005. The paint colors are...,5,"Fremont, MO",Fremont,MO,Walmart,2020-10-08
1902,Our three year old and very active Calico cat ...,5,"Camden, ME",Camden,ME,Walmart,2020-07-17
1903,"I miss choosing my own bacon, fruits, etc. I a...",5,"Tampa, FL",Tampa,FL,Walmart,2020-06-17
1904,I had a problem with Sterilite 64 Qt. Latching...,5,"Alameda, CA",Alameda,CA,Walmart,2020-03-25

In [33]:
#read in CSV
df_target = pd.read_csv('targetRev.csv')

#add retailer column
df_target['Retailer']='Target'

#Strip spaces in front of the date
df_target['Dt']=df_target['Dt'].str.lstrip()

#expand on the first space
df_target[['month','day_year']]=df_target['Dt'].str.split(" ",n=1,expand=True)

#Replace Months with corresponding numbers
df_target['month'].replace({'Jan.':1, 'Dec.':12, 'Nov.':11, 'Oct.':10, 'Sept.':9, 'Aug.':8, 'July':7, 'June':6,
       'May':5, 'April':4, 'March':3, 'Feb.':2}, inplace=True)

#split out day and year
df_target[['day','year']]=df_target['day_year'].str.split(",",n=1,expand=True)

#stitch date back together
df_target['Date']=pd.to_datetime(df_target[["year","month","day"]])

#limit df to dates since March 2020
final_target_df = df_target[df_target['Date']>='2020-03-01']

#delete unnecessary columns
final_target_df.drop(columns = ['Unnamed: 0','Dt','month','day_year','day','year'], inplace = True)

# final_target_df

C:\Users\walsh\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Review,Stars,City/St,City,State,Retailer,Date
0,"I bought online and had delivered, same day a ...",1,"Derby, KS",Derby,KS,Target,2022-01-23
1,Target refused to explain why my gift card not...,1,"Los Altos, CA",Los Altos,CA,Target,2022-01-06
2,I decided to try shopping Target online becaus...,1,"Paris, TX",Paris,TX,Target,2022-01-06
3,TARGET lost the card and trying to get a repla...,1,"Macomb, MI",Macomb,MI,Target,2021-12-30
4,Complaint against Target today 12/27/2021. I’m...,1,"Riverview, FL",Riverview,FL,Target,2021-12-28
...,...,...,...,...,...,...,...
850,"The store was clean, very well organized, item...",5,"Helotes, TX",Helotes,TX,Target,2021-05-07
851,My visit is always amazing when I go into Targ...,5,"Saint Louis, MO",Saint Louis,MO,Target,2021-05-05
852,Of all the big box stores Target maintains goo...,5,"North Ridgeville, OH",North Ridgeville,OH,Target,2021-05-04
853,I have been to a lot of grocery stores in my l...,5,"Orlando, FL",Orlando,FL,Target,2020-12-04
854,I purchased this unlit 7’ artificial Christmas...,5,"North Andover, MA",North Andover,MA,Target,2020-11-23

In [11]:
#read in CSV
df_bedbath = pd.read_csv('BBRev2.csv')

#add retailer column
df_bedbath['Retailer']='Bed Bath and Beyond'

#Strip spaces in front of the date
df_bedbath['Dt']=df_bedbath['Dt'].str.lstrip()

#expand on the first space
df_bedbath[['month','day_year']]=df_bedbath['Dt'].str.split(" ",n=1,expand=True)

#Replace Months with corresponding numbers
df_bedbath['month'].replace({'Jan.':1, 'Dec.':12, 'Nov.':11, 'Oct.':10, 'Sept.':9, 'Aug.':8, 'July':7, 'June':6,
       'May':5, 'April':4, 'March':3, 'Feb.':2}, inplace=True)

#split out day and year
df_bedbath[['day','year']]=df_bedbath['day_year'].str.split(",",n=1,expand=True)

#stitch date back together
df_bedbath['Date']=pd.to_datetime(df_bedbath[["year","month","day"]])

#limit df to dates since March 2020
final_bedbath_df = df_bedbath[df_bedbath['Date']>='2020-03-01']

#delete unnecessary columns
final_bedbath_df.drop(columns = ['Unnamed: 0','Dt','month','day_year','day','year'], inplace = True)

final_bedbath_df

C:\Users\walsh\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Review,Stars,City/St,City,State,Retailer,Date
0,I I bought two pillowcase bed sham from Bed Ba...,1,"Newton, MA",Newton,MA,Bed Bath and Beyond,2022-01-08
1,They cancelled my Christmas order so my gift n...,1,"Penn Valley, CA",Penn Valley,CA,Bed Bath and Beyond,2022-01-04
2,When I placed a order for a electric blanket o...,1,"Fruita, CO",Fruita,CO,Bed Bath and Beyond,2021-12-28
3,Two orders did not arrive…although their custo...,1,"Larkspur, CA",Larkspur,CA,Bed Bath and Beyond,2021-12-20
4,WORST customer service ever!! Can't reach anyo...,1,"North Hollywood, CA",North Hollywood,CA,Bed Bath and Beyond,2021-12-07
...,...,...,...,...,...,...,...
374,I placed an order through the website on April...,2,"Willoughby, OH",Willoughby,OH,Bed Bath and Beyond,2020-09-09
375,I know that during this pandemic it becomes mo...,2,"Clarksville, TN",Clarksville,TN,Bed Bath and Beyond,2020-06-03
376,I ordered an item online - it did not work and...,2,"Wichita, KS",Wichita,KS,Bed Bath and Beyond,2020-06-03
377,My issue is with BB&B shipping & trying to get...,2,"Indianapolis, IN",Indianapolis,IN,Bed Bath and Beyond,2020-05-19
378,"Well, I like the way it looks and it's portabl...",2,"Larchmont, NY",Larchmont,NY,Bed Bath and Beyond,2020-04-15

In [38]:
#put reviews into a single df
all_3_df = pd.concat([final_bedbath_df,final_target_df,final_walmart_df])

#create CSV of scraped and prepared data for Walmart, Target, and Bed Bath and Beyond
# all_3_df.to_csv('RetailersCombined.csv')

,Review,Stars,City/St,City,State,Retailer,Date
0,I I bought two pillowcase bed sham from Bed Ba...,1,"Newton, MA",Newton,MA,Bed Bath and Beyond,2022-01-08
1,They cancelled my Christmas order so my gift n...,1,"Penn Valley, CA",Penn Valley,CA,Bed Bath and Beyond,2022-01-04
2,When I placed a order for a electric blanket o...,1,"Fruita, CO",Fruita,CO,Bed Bath and Beyond,2021-12-28
3,Two orders did not arrive…although their custo...,1,"Larkspur, CA",Larkspur,CA,Bed Bath and Beyond,2021-12-20
4,WORST customer service ever!! Can't reach anyo...,1,"North Hollywood, CA",North Hollywood,CA,Bed Bath and Beyond,2021-12-07
...,...,...,...,...,...,...,...
1900,"Great selection, great prices and awesome cont...",5,"Buda, Texas",Buda,Texas,Walmart,2020-11-19
1901,I built my house in 2005. The paint colors are...,5,"Fremont, MO",Fremont,MO,Walmart,2020-10-08
1902,Our three year old and very active Calico cat ...,5,"Camden, ME",Camden,ME,Walmart,2020-07-17
1903,"I miss choosing my own bacon, fruits, etc. I a...",5,"Tampa, FL",Tampa,FL,Walmart,2020-06-17
1904,I had a problem with Sterilite 64 Qt. Latching...,5,"Alameda, CA",Alameda,CA,Walmart,2020-03-25